/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#text-div{
  border-radius: 10px;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Body Styling */
/*body {*/
/*  font-family: 'Arial', sans-serif;*/
/*  background: #f4f7fc;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 100vh;*/
/*  margin: 0;*/
/*}*/

/* Login Box */
.login-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-image: url("/img/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  div{
    opacity: 0.97;
  }
}

.login-box {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Input Fields */
.textbox {
  margin-bottom: 20px;
}

.textbox input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease;
}

.textbox input:focus {
  border: 1px solid #3498db;
}

/* Button */
.btn {
  width: 100%;
  padding: 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 20px;
}

.footer p {
  font-size: 14px;
}

.footer a {
  color: #3498db;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
