<div class="login-container">
  <div id="text-div" class="w-50 h-50 d-flex justify-content-center align-items-center">
    <h1 class="text-center">Admin, please login to access the full functionality of the system</h1>

  </div>
  <div class="login-box">
    <h2>Admin Login</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="textbox">
        <input
          type="text"
          name="username"
          [(ngModel)]="username"
          required
          placeholder="Enter your username"
          #emailField="ngModel"
        />
      </div>
      <div class="textbox">
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          required
          placeholder="Enter your password"
          #passwordField="ngModel"
        />
      </div>
      <button type="submit" class="btn" [disabled]="!loginForm.valid">Login</button>
    </form>
    <!--    <div class="footer">-->
    <!--      <p>Forgot password? <a href="#">Reset here</a></p>-->
    <!--    </div>-->
  </div>
</div>
