<app-header/>
<div id="image-container">
  <div id="text-container" class="container text-center">
    <br>
    <h1>Welcome to BookMaster</h1>
    <p class="lead">Discover, manage, and share your book collection with ease. BookMaster is your go-to app for keeping track of your books, authors, and genres—all in one place. Whether you're an avid reader, a book collector, or just someone looking to organize your bookshelf, BookMaster makes it simple.</p>

    <h3>Key Features:</h3>
    <ul class="list-group">
      <li class="list-group-item">✨ <strong>Add and Manage Books</strong>: Effortlessly add new books with titles, authors, genres, ISBNs, and descriptions.</li>
      <li class="list-group-item">🖋️ <strong>Author Database</strong>: Browse a list of authors and explore their works.</li>
      <li class="list-group-item">🔍 <strong>Search and Filter</strong>: Find books quickly by title, author, or ISBN, or search for a partial match.</li>
      <li class="list-group-item">🏷️ <strong>Tagging</strong>: Organize your books by adding custom tags that help categorize and highlight your collection.</li>
      <li class="list-group-item">🖥️ <strong>User-Friendly Interface</strong>: With a sleek, intuitive design, navigating through your collection has never been easier.</li>
    </ul>

    <p class="mt-4">Start managing your book collection today with BookMaster and unlock a more organized, enjoyable reading experience!</p>
  </div>

</div>
<!--<div class="container">-->

<!--  &lt;!&ndash; Routed content will be displayed here &ndash;&gt;-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

